.music-player {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #101010;
    position: absolute;
    color: white;
    padding: 50px 0;
}

.music-player .controls {
    display: flex;
    justify-content: space-between;
}

.music-player .artist-details {
    position: absolute;
    display: flex;
    top: 65%;
    right: 10%;
    height: fit-content;
}

.music-player .artist-details .artist-name {
    color: #1ccc5b;
}

.music-player .artist-details .track-name {
    color: #ccc;
}

.music-player .artist-details p {
    margin: 0 5px;
}